<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet" />
<meta charset="UTF-8"></meta>
<title>Página de error</title>
<link rel='stylesheet'
	href='webjars/bootstrap/3.2.0/css/bootstrap.min.css' />
</head>
<body>

	<br />

	<div class="alert alert-dismissible alert-danger">

		<button type="button" class="close" data-dismiss="alert">&times;</button>

		<h2>ERROR!</h2>
		<br />
		<p>Ha ocurrido un error. Tu sesión ha finalizado.</p>
		<br /> <a href="/" class="btn btn-success">IR A INICIO</a>

	</div>

</body>
</html>