<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="plantillas/header :: head">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

	<div class="page-header">
		<h1 id="titulo">PARTICIPATION SYSTEM 4b</h1>
	</div>
	<br />
	<div class="container">
		<form class="form-horizontal" id="form" th:action="@{/login}"
			method="POST">
			<fieldset>
				<legend>Inicio de sesión</legend>
				<div class="form-group">
					<label for="DNI" class="col-lg-2 control-label" id="dniLabel">DNI:</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="dni" name="dni"
							placeholder="DNI" required="required" />
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="col-lg-2 control-label"
						id="passwordLabel">Password:</label>
					<div class="col-lg-10">
						<input type="password" class="form-control" id="password"
							placeholder="Password" name="password" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="reset" class="btn btn-default" id="limpiar">Limpiar</button>
						<button type="submit" class="btn btn-primary" id="login">Login</button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>

	<div class="alert alert-dismissible alert-warning" th:if="${hidden}">
		<h4 th:text="${mensaje}"></h4>
	</div>

</body>
</html>