<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="plantillas/header :: head">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<nav th:replace="plantillas/header :: menuUser"></nav>

	<div class="alert alert-dismissible alert-warning"
		th:if="${hiddenFalse}">
		<h4 th:text="${mensaje}"></h4>
	</div>

	<div class="alert alert-dismissible alert-success"
		th:if="${hiddenTrue}">
		<h4 th:text="${mensaje}"></h4>
	</div>

	<table class="table table-striped table-hover ">
		<thead>
			<tr class="info">
				<th>Propuestas</th>
				<th>Descripción</th>
				<th>Votar</th>
				<th>Comentarios</th>
			</tr>
		</thead>
		<tr th:each="proposal:${proposals}" class="active">
			<td th:text="${proposal.name}"></td>
			<td th:text="${proposal.content}"></td>
			<td><a th:href="@{/votarPositivo(idPropuesta=${proposal.id})}" 
					th:id="si+${proposal.id}"><img
					src="../static/images/voteY.JPG" th:src="@{/images/voteY.JPG}" /></a>
				<a th:href="@{/votarNegativo(idPropuesta=${proposal.id})}"
					th:id="no+${proposal.id}"><img
					src="../static/images/voteN.JPG" th:src="@{/images/voteN.JPG}" /></a></td>
			<td><a class="btn btn-link" th:id="ver+${proposal.id}"
				th:href="@{/comment(id=${proposal.id})}">Ver</a></td>
		</tr>
	</table>

</body>
</html>